body {
    background: #000;
    color: #f00;
    font-family: 'Courier New', Courier, monospace;
    width: 500px;
    margin: 0 auto;
}

.container {
    border: 3px #f00 solid;
    margin-bottom: 20px;
}

.container::after {
    overflow: auto;
    content: "";
    clear: both;
    display: block;
}

#logo {
    width: 100%;
}

h1 {
    text-align: center;
    font-size: 36px;
    margin: 5px;
}

h3 {
    text-align: center;
    font-size: 18px;
    margin-bottom: 5px;
}

hr {
    background-color: #f00;
    height: 3px;
    border: 0;
}

.md-container {
    border: 3px #f00 solid;
    margin: 10px;
    padding: 5px;
}

.sm-container {
    align-content: center;
    border: 3px #f00 solid;
    width: 445px;
    height: 210px;
    float: left;
    margin: 10px;
    padding: 10px;
    line-height: 2;
}

#monsterImage {
    display: block;
    margin: auto;
    max-width: 310px;
    max-height: 210px;
    opacity: 0;
}



@media screen and (min-width: 640px) {
    body {
        margin: 20px auto;
        width: 600px;
    }
    .sm-container {
        width: 250px;
        height: 300px;
    }
    #monsterImage {
        max-width: 250px;
        max-height: 300px;
    }
}

@media screen and (min-width: 768px) {
    body {
        width: 720px;
    }
    h1 {
        font-size: 48px;
    }
    .sm-container {
        width: 310px;
    }
    #monsterImage {
        max-width: 310px;
    }
}