html {
    box-sizing: border-box;
}
  *, *:before, *:after {
    box-sizing: inherit;
}

body {
    background: #000;
    color: #f00;
    font-family: 'Courier New', Courier, monospace;
    width: 400px;
    margin: 0 auto;
}

.pad {
    margin: 5px;
    padding: 5px;
}

.bor {
    border: 2px #f00 solid;
}

.container {
    width: 100%;
}

.container::after {
    overflow: auto;
    content: "";
    clear: both;
    display: block;
}

.md-container {
    width: 97%;
}

.sm-container {
    float: left;
    width: 97%;
    line-height: 1;
    height: 220px;
}

.img-container {
    float: left;
    width: 97%;
    height: 220px;
}

#logo {
    width: 100%;
}

h1 {
    text-align: center;
    font-size: 24px;
}

h3 {
    text-align: center;
    font-size: 18px;
    margin-bottom: 5px;
}

.variables {
    color: #999;
}

hr {
    background-color: #f00;
    height: 2px;
    border: 0;
}

#monsterImage {
    display: block;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    opacity: 0;
}

@media screen and (min-width: 600px) {
    body {
        margin: 20px auto;
        width: 600px;
    }   
    .pad {
        margin-bottom: 10px;
    }
    h1 {
        font-size: 24px;
    }
    .md-container {
        width: 98%;
    }
    .sm-container {
        width: 48%;
        height: 370px;
        line-height: 2;
    }
}

@media screen and (min-width: 768px) {
    body {
        width: 768px;
    }     
    h1 {
        font-size: 32px;
    }
    .md-container {
        width: 99%;
    }
    .sm-container {
        width: 48.5%;
        height: 340px;
        line-height: 2;
    }
}